
/*------Alert gray-------*/
.alert-gray{
	background: #e5e5e5;
	box-shadow: 0 3px 0 #cccccc;
	color: #4d4d4d;
	padding: 15px 48px;
	margin-bottom: 10px;
	border-radius: 10px;
	background-image: url(../images/alert-mark-gray.png);
	background-repeat: no-repeat;
	background-position: 15px center;
}
.alert-gray .close-gray{
	line-height: 20px;
	position: relative;
	right: -30px;
	top: -1px;
}
.close-gray{
	background-image: url(../images/alert-x-gray.png);
	background-repeat: no-repeat;
	background-position: 2px center;
	padding:  0 10px 21px;
	float: right;
}

/*------Alert red-------*/
.alert-red{
	background: #f2c5cb;
	box-shadow: 0 3px 0 #e5acb7;
	color: #b23f50;
	padding: 15px 48px;
	margin-bottom: 10px;
	border-radius: 10px;
	background-image: url(../images/alert-mark-red.png);
	background-repeat: no-repeat;
	background-position: 15px center;
}
.alert-red .close-red{
	line-height: 20px;
	position: relative;
	right: -30px;
	top: -1px;
}
.close-red{
	background-image: url(../images/alert-x-red.png);
	background-repeat: no-repeat;
	background-position: 2px center;
	padding:  0 10px 21px;
	float: right;
}
/*------Alert blue-------*/
.alert-blue{
	background: #c2eef2;
	box-shadow: 0 3px 0 #a1e5e3;
	color: #198e9c;
	padding: 15px 48px;
	margin-bottom: 10px;
	border-radius: 10px;
	background-image: url(../images/alert-mark-blue.png);
	background-repeat: no-repeat;
	background-position: 15px center;
}
.alert-blue .close-blue{
	line-height: 20px;
	position: relative;
	right: -30px;
	top: -1px;
}
.close-blue{
	background-image: url(../images/alert-x-blue.png);
	background-repeat: no-repeat;
	background-position: 2px center;
	padding:  0 10px 21px;
	float: right;
}

.w500{
	width: 500px;
}