.title-row{
	background: rgb(209, 209, 209);
	background: -moz-linear-gradient(90deg, rgb(209, 209, 209) 0%, rgb(102, 102, 102) 60%);
	background: -webkit-linear-gradient(90deg, rgb(209, 209, 209) 0%, rgb(102, 102, 102) 60%);
	background: -o-linear-gradient(90deg, rgb(209, 209, 209) 0%, rgb(102, 102, 102) 60%);
	background: -ms-linear-gradient(90deg, rgb(209, 209, 209) 0%, rgb(102, 102, 102) 60%);
	background: linear-gradient(180deg, rgb(209, 209, 209) 0%, rgb(102, 102, 102) 60%);

	height: 108px;
	padding-top: 20px;
}
.container-text{
	width: 1000px;
	margin: 0 auto;
}
.container-text .white-txt{
	margin: 0 0 10px 0;
	color: #fff;
	font-size: 35px;
	text-align: left;
	text-shadow: 0 -1px 0 #4d4d4d;
}
.box-text{
	float: left;
	border-left: 3px dotted #e5e5e5;
	padding: 12px 20px;
}
.box-text:first-child{
	border-left: none;
}
.slash{
	color: #b3b3b3;
	margin: 0 5px;
	font-weight: bold;
}
.black-txt{
	margin: 0;
	color: #4d4d4d;
	font-size: 30px;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);

}
.box-text .txt-bold{
	font-weight: bold;
	font-size: 17px;
	margin: 7px 0;
}
.box-text .date-txt{
	color: #666666;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
	margin: 15px 0;
}
.box-text .small-btn{
	text-transform: uppercase;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	float: right;
}
.box-text .big-btn{
	height: 111px;
	line-height: 111px;
}
.box-text .loyer{
	color: #b3b3b3;
	text-align: right;
}
.box-text .price{
	color: #666666;
	font-size: 36px;
	font-weight: bold;
	text-align: right;
	padding-bottom: 25px;
}
.box-appart{
	width: 511px;
}
.box-price{
	width: 160px;
}
.box-button{
	width: 200px;
}
.main-container-box{
	overflow: hidden;
}
.main-container-box .container-box{
	float: left;
}
.main-container-box .container-box .grid-block-big{
	padding: 15px 28px 53px;
	width: 191px;
	margin-right: 20px;
}
.grid-block{
	width: 700px;
	margin-bottom: 3px;
}
.grid-same{
	width: 485px;
}
.inner-box{
	overflow: hidden;
}
.txt-box{
	float: left;
	width: 187px;
}
.txt-box p{
	margin: 0;
}
.price-small{
	font-weight: bold;
	font-size: 20px;
	margin-top: 0;
}
.title-ad{
	font-weight: normal;
	font-size: 20px;
	margin: 0 0 10px;
	color: #666666;
}
.triangle-left{
	width: 0px;
	height: 0px;
	border-bottom: 22px solid transparent;
	border-left: 27px solid #FF0000;
	border-top: 22px solid transparent
}

/*menu annonce*/

.menu-annonce{
	background: #4d4d4d;
	list-style: none;
	overflow: hidden;
	padding-top: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}
.menu-annonce ul{
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.menu-annonce li{
	float: left;
	margin-left: 15px;
}
.menu-annonce li a{
	text-decoration: none;
	background: #999999;
	color: #fff;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	padding: 10px 20px;
	display: block;

}
.menu-annonce  a.active{
	background: #f2f2f2;
	color: #4d4d4d;
}

.inset-discription{
	padding: 20px;
	overflow: hidden;
}



.table-discription{
	width: 630px;
	float: left;
}
.cellsblock{
	width: 100%;
	display: table;
	background: #fff;
	/*border-radius: 10px;*/
}
.cellsblock .cellleft, .cellright{
	display: table-cell !important;
	display: inline;
	padding: 10px;
	border-bottom: 1px solid #cccccc;
}

.cellsblock .cellleft p,
.cellsblock .cellright p{
	margin: 0;
}
.cellsblock .cellleft{
	width: 30%;
	border-right: 1px solid #cccccc;
	color: #999999;
}
.cellsblock .cellright{
	width: 70%;
	padding-left: 30px;
}


.block-photo{
	float: right;
}