.title-row{
	background: rgb(209, 209, 209);
	background: -moz-linear-gradient(90deg, rgb(209, 209, 209) 0%, rgb(102, 102, 102) 60%);
	background: -webkit-linear-gradient(90deg, rgb(209, 209, 209) 0%, rgb(102, 102, 102) 60%);
	background: -o-linear-gradient(90deg, rgb(209, 209, 209) 0%, rgb(102, 102, 102) 60%);
	background: -ms-linear-gradient(90deg, rgb(209, 209, 209) 0%, rgb(102, 102, 102) 60%);
	background: linear-gradient(180deg, rgb(209, 209, 209) 0%, rgb(102, 102, 102) 60%);

	height: 108px;
	padding-top: 20px;
}
.title-row .container-text{
	width: 1100px;
	margin: 0 auto;
	padding-left: 100px;

}
.title-row .container-text .white-txt{
	margin: 0 0 10px 0;
	color: #fff;
	font-size: 35px;
	text-align: left;
	text-shadow: 0 -1px 0 #4d4d4d;

}
.title-row .container-text .btn{
	padding-left: 59px;
	padding-right: 33px;
	font-size: 17px;
}
.title-row .container-text .btn-gray{
	background: #999999;
	box-shadow: 0 3px 0 #777;
}
.title-row .container-text  .icon-share-alt{
	background-image: url("/assets/images/icon-alt.png");
	background-repeat: no-repeat;
	background-position: 15px center;
}
.title-row .container-text  .icon-heart{
	background-image: url("/assets/images/icon-heart2.png");
	background-repeat: no-repeat;
	background-position: 15px center;
}
.title-row .container-text  .icon-thumbs-up{
	background-image: url("/assets/images/icon-hand2.png");
	background-repeat: no-repeat;
	background-position: 15px center;
}
.title-row .container-text  .icon-chevron-left{
	background-image: url("/assets/images/icon-thumb-left.png");
	background-repeat: no-repeat;
	background-position: 15px center;
}
.title-row .container-text  .icon-chevron-right{
	background-image: url("/assets/images/icon-thumb-right.png");
	background-repeat: no-repeat;
	background-position: 135px center;
	padding-left: 33px;
	padding-right: 59px;
}
.box-text{
	float: left;
	border-left: 3px dotted #e5e5e5;
	padding: 12px 20px;
}
.box-text:first-child{
	border-left: none;
}
.slash{
	color: #b3b3b3;
	margin: 0 5px;
	font-weight: bold;
}
.black-txt{
	margin: 0;
	color: #4d4d4d;
	font-size: 30px;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);

}
.box-text .txt-bold{
	font-weight: bold;
	font-size: 17px;
	margin: 7px 0;
}
.box-text .date-txt{
	color: #666666;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
	margin: 15px 0;
}

.box-text .big-btn{
	height: 111px;
	line-height: 111px;
}

.box-text .loyer{
	color: #b3b3b3;
	text-align: right;
}
.box-text .price{
	color: #666666;
	font-size: 36px;
	font-weight: bold;
	text-align: right;
	padding-bottom: 25px;
}
.box-appart{
	width: 548px;
}
.box-price{
	width: 160px;
}
.box-button{
	width: 166px;
}
.main-container-box{
	overflow: hidden;
}
.main-container-box .container-box{
	float: left;
}
.main-container-box .container-box .grid-block-big{
	padding: 31px 28px 60px;
	width: 198px;
	margin-right: 46px;
	position: relative;
}
.grid-block{
	width: 700px;
	margin-bottom: 3px;
}
.grid-same{
	width: 485px;
}


.price-small{
	font-weight: bold;
	font-size: 20px;
	margin-top: 0;
}
.item-title{
	font-weight: normal;
	font-size: 20px;
	margin: 0 0 10px;
	color: #666666;
}
.item-img{
	float: left;
	margin-right: 10px;
}
.price-box{
	padding-left: 46px;
	width: 94px;
}
.info-box{
	width: 497px;
}
.info-box div{
	color: #4d4d4d;
}
.triangle-left{
	position: absolute;
	width: 0;
	height: 0;
	border-bottom: 22px solid transparent;
	border-left: 23px solid #F5F5F5;
	border-top: 22px solid transparent;
	right: -23px;
	top: 41px;
	/*box-shadow: 0px 3px 0px #D8D8D8;*/
}
.triangle-second{
	top: 172px;
}

.grid-reformed .grid-inner{
	height: 97px;
}
.grid-reformed .index-row-six-text{
	width: 56%;
}
.grid-reformed .index-row-six-link{
	width: 45%;
}
.grid-reformed .index-row-six-link a{
	font-size: 15px;
}
/*menu annonce*/

.menu-annonce{
	background: #4d4d4d;
	list-style: none;
	overflow: hidden;
	padding-top: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}
.menu-annonce ul{
	overflow: hidden;
	margin: 0;
	padding: 0;
	float: left;
}
.menu-annonce li{
	float: left;
	margin-left: 15px;
	list-style: none;
}
.menu-annonce li a{
	text-decoration: none;
	background: #999999;
	color: #fff;
	font-size: 14px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	padding: 10px 20px;
	display: block;

}
.menu-annonce  a.active{
	background: #f2f2f2;
	color: #4d4d4d;
}
.menu-annonce .btn-gray-dark{
	background: #808080;
	box-shadow: 0 3px 0 #333333;
	font-size: 16px;
	text-shadow: 0 -1px 0 #333333 !important;
}
.menu-annonce .btn-gray-dark:hover{
	box-shadow: 0 1px 0 #333333;
	top: 2px;
}
.menu-annonce .btn-gray-dark:active{
	box-shadow: none;
	top: 3px;
}

.btn-left-flag{
	float: right;
	height: 34px;
	padding: 0 10px;
	margin-right: 15px;
}

.tab-annonce{
	padding: 28px;
	overflow: hidden;
}


.tab-annonce .table-discription{
	width: 655px;
	float: left;
	margin-top: 10px;
}


.tab-annonce .cellsblock{
	width: 100%;
	display: table;
	background: #fff;
	border-bottom: 1px solid #cccccc;
}
.tab-annonce .cellsblock:nth-child(2n){
	background: #e5e5e5;
}
.tab-annonce .cellsblock-first{
	box-shadow: inset 0 1px 0 #cccccc;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}
.tab-annonce .cellsblock-last{
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom: none;
}
.tab-annonce .cellsblock .cellleft, .cellright{
	display: table-cell !important;
	display: inline;
	padding: 10px;
}

.tab-annonce .cellsblock .cellleft p,
.tab-annonce .cellsblock .cellright p{
	margin: 0;
	font-size: 16px;
}
.tab-annonce .cellsblock .cellleft{
	width: 35%;
	border-right: 1px solid #cccccc;

}
.tab-annonce .cellsblock .cellright{
	padding-left: 30px;
}
.tab-annonce .tab-annonce .cellsblock .cellleft p{
	color: #999999;
}
.tab-annonce .cellsblock .cellright p{
	color: #4d4d4d;
}

.tab-annonce .block-photo{
	float: right;
	width: 250px;
}
.tab-annonce .info-block-photo{
	background: #fff;
	border-radius: 10px;
	padding:  20px 35px 20px 20px;
	box-shadow: inset 0 1px 0 #CCCCCC;
	margin-bottom: 40px;
}
.tab-annonce .info-block-photo p{
	font-size: 16px;
}

.tab-annonce .photo-gallery{
	text-align: center;
	margin-bottom: 40px;
	overflow: hidden;
	margin-top: 10px;
}
.tab-annonce .photo-gallery span{
	font-size: 16px;
}

.tab-annonce .photo-img{
	margin-bottom: 10px;
}
.tab-annonce .photo-img img{
	width: 250px;
}

.tab-annonce .btn-nav-group{
	width: 251px;
}
.tab-annonce .btn-nav-group .btn{
	margin-left: 0;
	margin-top: 10px;
	width: 200px;
	padding-left: 40px;
}
.tab-annonce .btn-nav-group .icon-heart{
	background-image: url("/assets/images/icon-heart2.png");
	background-repeat: no-repeat;
	background-position: 20px center;
}
.tab-annonce .btn-nav-group .icon-hand{
	background-image: url("/assets/images/icon-hand2.png");
	background-repeat: no-repeat;
	background-position: 20px center;
}
.inner-box-carte{
	float: right;
	height: 345px;
	width: 467px;
}
.inner-box-carte img{
	width: 467px;
	height: 349px;
}





/*--------Page-annonce-photo-------*/
.tab-annonce .table-photo{
	position: relative;
	float: left;
	margin-top: 10px;
	width: 614px;
	height: 500px;
}
.tab-annonce .photo-gallery .photo-mini{
	float: left;
	padding: 0 9px 10px 0;
	width: 74px;
	height: 75px;
}
.tab-annonce .nav-photo-left, .tab-annonce .nav-photo-right{
	position: absolute;
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 31px;
	height: 46px;
	z-index: 10;
	top: 50%;
	margin-top: -23px;
	opacity: 0;
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	-ms-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s;
}

.tab-annonce .table-photo:hover .nav-photo-left, .tab-annonce .table-photo:hover .nav-photo-right {
	opacity: 1;
	-webkit-transition: opacity .4s;
	-moz-transition: opacity .4s;
	-ms-transition: opacity .4s;
	-o-transition: opacity .4s;
	transition: opacity .4s;
}

.tab-annonce .nav-photo-left{
	background-image: url(../images/icon-gallery-prev.png);
	left: 20px;
}

.tab-annonce .nav-photo-right{
	background-image: url(../images/icon-gallery-next.png);
	right: 20px;
}



/*--------Page-annonce-carte-------*/
.tab-annonce .title-territory{
	text-align: center;
}
.tab-annonce .title-territory p{
	font-size: 16px;

}
.tab-annonce .block-nav-carte{
	float: left;
}
.tab-annonce .block-nav-carte p{
	margin-top: 0;
	margin-bottom: 20px;
}

.tab-annonce .block-text{
	width: 300px;
}
.tab-annonce .block-link{
	text-align: center;
	width: 350px;
	padding-right: 42px;
}
.tab-annonce .block-link a{
	color: #4d4d4d;
	font-size: 16px;
}
.tab-annonce .block-btn{
	width: 250px;
}
.tab-annonce .block-carte{
	width: 943px;
	height: 500px;
	margin-bottom: 20px;
}


/*--------Page-annonce-visites-------*/
.block-calendar{
	overflow: hidden;
	margin: 41px 0 20px 0;
	padding-bottom: 5px;
}
.block-calendar .calendar{
	float: left;
	width: 43%;
	padding: 0 33px;
}
.name-month-calend{
	text-align: center;
}
.name-month-calend h2{
	margin: 0 0 24px;
}
.name-month-calend .btn-cal-prev{
	float: left;
}
.name-month-next{
	float: right;
}
.calendar .inner-cell{
	display: table;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #4d4d4d;
}
.calendar .cell-month{
	background: #4d4d4d;
	border-bottom: 1px solid #4d4d4d;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}
.calendar .cell-month .cell{
	color: #fff;
	border: none;
}
.calendar .cell-month .cell:first-child{
	border: none;
}
.calendar .cell{
	display: table-cell !important;
	padding: 15px 0;
	text-align: center;
	border-right: 1px solid #4d4d4d;
	font-size: 16px;
	color: #878787;
	width: 20px;
}
.calendar .cell:first-child{
	border-left: 1px solid #4d4d4d;;
}
.calendar .cell-bottom{
	box-shadow: 0px 3px 0px #464646;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.calendar .cell-next-month{
	background: #f2f2f2;
}
.calendar .cell-blue{
	background: #bff2ef;

}
.calendar  a.cell-blue{
	color: #545757;
	text-decoration: none;
}
.calendar .cell-black{
	background: #4d4d4d;
	color: #e8e8e8;
}
.calendar .cell-black a{
	color: #e8e8e8;
	text-decoration: none;
}
.calendar .cell-gray{
	background: #cccccc;
	color: #999999;
}
.tab-annonce .block-btn-visites{
	margin: 10px 0 50px 0;
}
.tab-annonce .block-btn-visites .btn-blue-lite{
	margin: 10px 10px 0 0;
}






