.btn, button {
	background: transparent;
	display: inline-block;
	position: relative;
	height: 45px;
	line-height: 45px;
	padding: 0 15px;
	border-radius: 7px;
	font-size: 18px;
	color: #fff !important;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	cursor: pointer;
}

.btn + .btn, .btn + button, button + button {
	margin-left: 10px;
}

/*
	Blue button, Bleu bouton, Голубая кнопка
*/

.btn.btn-blue, button.btn-blue {
	background: #3cbecc;
	box-shadow: 0 3px 0 #34a6b3;
	text-shadow: 0px -1px 0px #34a6b3 !important;
}

.btn.btn-blue:hover, button.btn-blue:hover {
	box-shadow: 0 1px 0 #34a6b3;
	top: 2px;
}

.btn.btn-blue:active, button.btn-blue:active {
	box-shadow: none;
	top: 3px;
}

/*
	Gray button, Gris bouton, Серая кнопка
*/

.btn.btn-gray, button.btn-gray {
	background: #b3b3b3;
	box-shadow: 0 3px 0 #808080;
	text-shadow: 0px -1px 0px #808080 !important;
}

.btn.btn-gray:hover, button.btn-gray:hover {
	box-shadow: 0 1px 0 #808080;
	top: 2px;
}

.btn.btn-gray:active, button.btn-gray:active {
	box-shadow: none;
	top: 3px;
}

/*
	Dark button, Gris fonce bouton, Тёмная кнопка
*/

.btn.btn-dark, button.btn-dark {
	background: #666;
	box-shadow: 0 3px 0 #333;
	text-shadow: 0px -1px 0px #333 !important;
}

.btn.btn-dark:hover, button.btn-dark:hover {
	box-shadow: 0 1px 0 #333;
	top: 2px;
}

.btn.btn-dark:active, button.btn-dark:active {
	box-shadow: none;
	top: 3px;
}

/*
	Red button, Rouge bouton, Красная кнопка
*/

.btn.btn-red, button.btn-red {
	background: #de4c5d;
	box-shadow: 0 3px 0 #b23f50;
	text-shadow: 0px -1px 0px #b23f50 !important;
}

.btn.btn-red:hover, button.btn-red:hover {
	box-shadow: 0 1px 0 #b23f50;
	top: 2px;
}

.btn.btn-red:active, button.btn-red:active {
	box-shadow: none;
	top: 3px;
}