/*
	Links without text-shadow
*/

.gray, .gray-link {
	color: #b3b3b3 !important;
}

.red, .red-link {
	color: #DE4C5D !important;
}

.blue, .blue-link {
	color: #3cbecc !important;
}
/*
.gray {
	text-shadow: 0px -1px 0px #808080 !important;
}

.red {
	text-shadow: 0px -1px 0px #b23f50 !important;
}

.blue {
	text-shadow: 0px -1px 0px #008f94 !important;
}
*/

.white, .white-link {
	color: #fff !important;
}

.white-text {
	color: #fff !important;
	text-shadow: 0 -1px 0 #000;
}
.black, .black-link{
	color: #4d4d4d;
}