#compte {
	box-sizing: border-box;
	padding: 20px 25px;
	*zoom: 1;
}

#compte:after {
	content: '';
	display: table;
	clear: both;
}

#compte > .left {
	width: 240px;
	margin-right: 20px;
}

#compte > .right {
	width: 690px;
}

#compte .progress {
	position: relative;
	padding: 10px 20px;
	margin-bottom: 10px;
	background: #fff;
	border-radius: 10px;
	box-shadow: inset 0 1px 0 #CCCCCC;
}

#compte .menu {

}

#compte .menu > a {
	display: block;
	margin: 0 0 10px 0;
	text-align: left;
	height: 55px;
	line-height: 55px;
}

.progress-content {
	display: block;
}

.progress-content .block-grid {
	padding: 10px 20px;
	margin-bottom: 15px;
}

.progress-content#content-step-0 .block-grid {
	position: relative;
	padding: 0 30px;
}

#compte .progress-content .block-grid > h2 {
	margin: 0;
	padding: 10px 0 5px 0;
}

#compte .progress-content .block-grid > span {
	color: #a1e5e3;
	text-shadow: 0 1px 0 #fff;
	top: 0px;
	right: 30px;
	position: absolute;
	font-size: 100px;
	line-height: 100px;
	font-family: "Open Sans";
	font-weight: 300;
}

.progress-buttons {
	*zoom: 1;
}

.progress-buttons:after {
	content: '';
	display: table;
	clear: both;
}

.progress-buttons > a {
	width: 250px;
	margin-left: 0 !important;
}

.progress-buttons > a.btn-arrow-next {
	background-image: url('../images/arrow-next.png');
	background-repeat: no-repeat;
	background-position: 240px center;
}

.progress-buttons > a.btn-good {
	background-image: url('../images/btn-good.png');
	background-repeat: no-repeat;
	background-position: 240px center;
}

.progress-buttons > a.btn-arrow-prev {
	background-image: url('../images/arrow-prev.png');
	background-repeat: no-repeat;
	background-position: 20px center;
}

#compte .menu .progress-menu-active {
	background-image: url('../images/progress-menu-active.png');
	background-repeat: no-repeat;
	background-position: 210px center;
}

.progress-content > .step-title {
	margin: 0 0 15px 0;
}

.progress-content > .step-title > h1 {
	margin: 0 0 15px 0;
	color: #b3b3b3;
	text-shadow: 0 1px 0 #fff;
	line-height: 25px;
}

.progress-content > .step-title > span {
	display: block;
}

#compte .separator {
	padding: 0 20px;
	font-size: 16px;
	color: #4d4d4d;
}

.uploads-photos {

}

.upload-photos > a#upload-btn {
	display: block;
	float: left;
	line-height: 21px;
	text-align: left;
	height: 40px;
	padding: 15px 55px 15px 65px;
}

.upload-photos .separator {
	display: block;
	float: left;
	line-height: 70px;
	height: 70px;
}

.upload-photos .upload-area {
	display: block;
	float: left;
	background-color: #c2eef2;
	color: #198e9c;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	height: 40px;
	font-size: 16px;
	padding: 15px 48px 15px 60px;
	cursor: pointer;
	border-radius: 7px;
	border: 2px dashed #198e9c;
}

.uploaded-photos {
	*zoom: 1;
}

.uploaded-photos:after {
	content: '';
	display: table;
	clear: both;
}

.uploaded-photo {
	width: 130px;
	float: left;
	margin: 0 20px 0 0;
}

.uploaded-photo > input {
	display: none;
}

.uploaded-photo > label {
	cursor: pointer;
}

.uploaded-photo > label > img {
	display: block;
	width: 130px;
	height: 100px;
	border-radius: 7px 7px 0 0;
}

.uploaded-photo > label > span {
	display: block;
	background: #f2f2f2;
	padding: 5px 20px 5px 10px;
	width: 100px;
	box-shadow: 0 2px 0 #bfbfbf;
	border-radius: 0 0 7px 7px;
}

.uploaded-photo > input[type=checkbox]:checked + label > span {
	background: #c2eef2;
	color: #198e9c;
	background-image: url('../images/select-photo.png');
	background-repeat: no-repeat;
	background-position: 100px center;
	box-shadow: 0 2px 0 #b1e9ea;
}

#title-element {
	display: inline-block;
}

.compte-01 .block-grid {
	position: relative;
}

.compte-01 .block-grid ul {
	margin: 0;
	padding: 0 0 0 20px;
}

.compte-01 .block-grid a.btn {
	position: absolute;
	right: 20px;
	bottom: 20px;
	top: inherit;
}