/*-------datepicker-calendar-mini-------*/
.ui-datepicker{
	width: 208px;
	background: #fff;
	padding: 0;
	border-radius: 5px;
	box-shadow: 0 2px 0 #4d4d4d;
	border: 1px solid #4d4d4d;
	display: none;
}

.ui-datepicker-header.ui-widget-header {
	background: transparent;
}

.ui-datepicker-header{
	text-align: center;
	padding: 0 10px;
}
.ui-datepicker-title{
	font-size: 16px;
	//margin-bottom: 10px;
}

.ui-datepicker-calendar{
	width: 208px;
	background: #fff;
	border-radius: 5px;
}
.ui-datepicker-calendar thead{
	background: #4d4d4d;
	color: #fff;

}
.ui-datepicker-calendar thead th{
	height: 30px;
	line-height: 30px;
	padding: 0;
	font-weight: 400;
}
.ui-datepicker-calendar tbody td{
	text-align: center;
	border-bottom: 1px solid #4d4d4d;
	border-left: 1px solid #4d4d4d;
	height: 20px;
	line-height: 20px;
	width: 20px;
	padding: 0;
}
.ui-datepicker-calendar tbody td:first-child{
	border-left: none;
}
.ui-datepicker-calendar tbody td a{
	color: #4d4d4d;
	text-decoration: none;
}
.ui-datepicker-header .ui-datepicker-next .ui-icon{
	background-image: url(/assets/images/br_next_icon.png);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}
.ui-datepicker-header .ui-datepicker-prev .ui-icon{
	background-image: url(/assets/images/br_prev_icon.png);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

#ui-datepicker-div .ui-state-hover {
	border: none;
}

#ui-datepicker-div .ui-state-default {
	border: none;
}

.ui-datepicker table {
	margin: 0;
}

a.ui-datepicker-next:hover {
	background: none;
	right: 2px;
	top: 2px;
    color: #4D4D4D;
}

a.ui-datepicker-prev:hover {
	background: none;
	left: 2px;
	top: 2px;
    color: #4D4D4D;
}

a.ui-datepicker-next {
    color: #4D4D4D;
    display: block;
    float: right;
    width: 10px;
    height: 20px;
    overflow: hidden;
    text-decoration: none;
}
a.ui-datepicker-prev {
    color: #4D4D4D;
    display: block;
    float: left;
    width: 10px;
    height: 20px;
    overflow: hidden;
    text-decoration: none;
}