/*-------datepicker-calendar-mini-------*/
.ui-datepicker{
	width: 208px;
	background: #fff;
	padding: 10px 0 0 0;
	border-radius: 5px;
	box-shadow: 0 2px 0 #4d4d4d;
	border: 1px solid #4d4d4d;
}
.ui-datepicker-header{
	text-align: center;
	padding: 0 10px;
}
.ui-datepicker-title{
	font-size: 16px;
	margin-bottom: 10px;
}
.ui-datepicker-prev{
	float: left;
}
.ui-datepicker-next{
	float: right;
}
.ui-datepicker-calendar{
	width: 208px;
	background: #fff;
	border-radius: 5px;
}
.ui-datepicker-calendar thead{
	background: #4d4d4d;
	color: #fff;

}
.ui-datepicker-calendar thead th{
	height: 30px;
	line-height: 30px;
}
.ui-datepicker-calendar tbody td{
	text-align: center;
	border-bottom: 1px solid #4d4d4d;
	border-left: 1px solid #4d4d4d;
	height: 20px;
	line-height: 20px;
	width: 20px;
}
.ui-datepicker-calendar tbody td:first-child{
	border-left: none;
}
.ui-datepicker-calendar tbody td a{
	color: #4d4d4d;
	text-decoration: none;
}
.ui-datepicker-header .ui-datepicker-next .ui-icon{
	background-image: url(/assets/images/br_next_icon.png);
	background-repeat: no-repeat;
	background-position: center center;
	padding: 10px;
	cursor: pointer;
}
.ui-datepicker-header .ui-datepicker-prev .ui-icon{
	background-image: url(/assets/images/br_prev_icon.png);
	background-repeat: no-repeat;
	background-position: center center;
	padding: 10px;
	cursor: pointer;
}