.cf:before, .cf:after {
	content: '';
	display: table;
}

.cf {
	*zoom: 1;
}

.cf:after {
	clear: both;
}

/*
	
*/

.left {
	float: left !important;
}

.right {
	float: right !important;
}

.h220 {
	height: 220px;
}

.h100 {
	height: 100px;
}

.h120 {
	height: 120px;
}

.bottom, .top {
	position: absolute;
}

.bottom {
	bottom: 0;
}

.top {
	top: 0;
}

.w200 {
	width: 200px;
}

.w250 {
	width: 250px;
}
