.left {
	float: left !important;
}

.right {
	float: right !important;
}

.h220 {
	height: 220px;
}
.h100{
	height: 100px;
}
.bottom, .top {
	position: absolute;
}

.bottom {
	bottom: 0;
}

.top {
	top: 0;
}

.w200 {
	width: 200px;
}
.w220{
	width: 220px;
}