.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}

.h220 {
	height: 220px;
}

.h100 {
	height: 100px;
}

.h120 {
	height: 120px;
}
.h160 {
	height: 160px;
}

.bottom, .top {
	position: absolute;
}

.bottom {
	bottom: 0;
}

.top {
	top: 0;
}

.w200 {
	width: 200px;
}

.w220{
	width: 220px;
}

.w230{
	width: 230px;
}

.w250{
	width: 250px;
}

.w270{
	width: 270px;
}

.w300 {
	width: 300px;
}

.half {
	width: 50%;
}