input::-webkit-input-placeholder {
	color: #b3b3b3;
}

input:-moz-placeholder {
	color: #b3b3b3;
}

input {
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	color: #4d4d4d;
	outline: none;
}
