.lock {
	overflow: hidden;
}

.themodal-overlay {
	position: fixed;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	z-index: 10000;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.themodal-overlay > * {
	-webkit-transform: translateZ(0px);
}

.themodal-overlay {
	background: rgba(0, 0, 0, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #7F000000, endColorstr = #7F000000);
	zoom: 1;
}

#modal {
    background-color: transparent;
    width: 630px;
    margin: 100px auto;
}

#modal .modal-title-container {
	position: relative;
	padding: 17px 70px 17px 40px;
	background-color: #4d4d4d;
	border-radius: 10px 10px 0 0;
}

#modal .modal-title-container > .modal-close {
	position: absolute;
	width: 30px;
	height: 30px;
    top: 20px;
    right: 20px;
    background: url('../images/modal-close.png') no-repeat;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
}

#modal .modal-title-container > .modal-close:hover {
	opacity: .7;
}

#modal .modal-title-container > .modal-close:active {
	opacity: .9;
}

#modal .modal-title-container > .modal-title {
	font-family: "Open Sans";
	font-size: 36px;
	line-height: 36px;
	font-weight: 300;
	color: #fff;
	text-shadow: 0px -1px 0px #333;
}

#modal .modal-content-container {
	min-height: 100px;
	background-color: #f2f2f2;
	border-radius: 0 0 10px 10px;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	box-shadow: 0px 3px 0px #ccc;
	padding: 0 40px;
}

/*
	Modal registration
*/

#modal .registration-top, #page-registration .registration-top {
background-color: #E5E5E5;
padding: 30px 40px;
margin: 0 -40px;
}

#page-registration .registration-top {
	background-color: #F7F7F7 !important;
	border-radius: 10px;
}

#modal .registration-top-buttons, #page-registration .registration-top-buttons {
	margin: 20px 0 0 0;
	line-height: 45px;
}

#modal .registration-top-buttons .btn, #page-registration .registration-top-buttons .btn {
	width: 220px;
}

#modal .registration-top-buttons .sep, #page-registration .registration-top-buttons .sep {
	display: inline-block;
	width: 50px;
	text-align: center;
}

#modal .registration-type, #page-registration .registration-type, #page-base-registration .registration-type {
	margin: 30px 0;
}

#modal .registration-type .btn, #page-registration .registration-type .btn {
	display: block;
	margin: 20px 0;
}

.inner #page-base-registration .registration-type .btn {
	display: block;
	margin: 20px 0;
	width: 430px;
}

#modal .registration-type .btn-fb, #page-registration .registration-type .btn-fb, #page-base-registration .registration-type .btn-fb {
	background-position: 85px center;
}

#modal .registration-type p > a, #page-registration .registration-type p > a {
	color: #666;
	font-size: 14px;
}

#modal .registration-bottom, #page-registration .registration-bottom, #modal .login-bottom {
	border-top: 2px dotted #d3d3d3;
	padding: 20px 40px;
	margin: 0 -40px;
}

#modal .registration-bottom, #page-registration .registration-bottom, #modal .login-bottom > p {
	margin-bottom: 0;
}

/*
	Login popup
*/

#modal .login-popup {
	
}

#modal .login-popup .btn-fb {
	display: block;
	background-position: 85px center;
	margin-top: 20px;
}

#modal .login-popup .separator {
	display: block;
	font-size: 16px;
	padding: 20px 0;
	text-align: center;
}

#modal .login-popup .login-bottom > a {
	display: block;
}

#modal .login-popup #login-form {
	margin-bottom: 20px;
}

#modal .login-popup #login-button {
	display: block;
	width: 100%;
}


/*
	Success popup
*/

#success-popup {
	display: none;
	width: 540px;
	margin: 100px auto;
}

.success-popup-content {
	display: block;
	padding: 30px 50px;
	background-color: #c2eef2;
	background-image: url('../images/success-popup-icon.png');
	background-repeat: no-repeat;
	background-position: 97% 15px;
	background-position: calc(100% - 20px) 15px;
	border-radius: 10px;
}

.success-popup-content > h1 {
	text-align: center;
	color: #198e9c;
	text-shadow: 0 1px 0 #fff;
	margin: 0 0 20px 0;
}

.success-popup-content > p {
	margin: 20px 0;
	color: #087380;
	text-align: center;
}

.success-popup-content > .btn {
	display: block;
}



/*
	Annoce description popup
*/

.favoris-popup-html > .btn{
	display: block;
	margin: 30px 0;
}

/*
	Annoce carte popup-1
*/

.carte-popup1-html .box-choice-btn{
	background: #4e4e4e;
	border-radius: 10px;
	padding: 20px;
	box-shadow: inset 0 1px 0 #414141;
	border-bottom: 1px solid #d2d2d2;
}
.carte-popup1-html ul{
	margin: 0;
	padding: 0;
}
.carte-popup1-html ul li{
	text-align: center;

	margin-bottom: 10px;

}
.carte-popup1-html ul li:last-child{
	margin-bottom: 0;
}
.carte-popup1-html ul li a{
	text-decoration: none;
	padding: 15px 0;
	display: block;
	color: #656565;
	text-shadow: 0 1px 0 #fff;
	font-size: 16px;
	background: #e5e5e5;
	border-radius: 5px;
	border-bottom: 1px solid #b2b2b2;
}
.carte-popup1-html .active-btn{
	color: #f6f1eb;
	text-shadow: 0 -1px 0 #1c899d;
	background: #35a6b4;
	border-bottom: 1px solid #257d89;
}
.carte-popup1-html .btn-annuler{
	margin: 20px 0;
	display: block;
}
.carte-popup1-html .details-block .btn{
	display: block;
	font-size: 16px;
}
.carte-popup1-html .box-select{
	background: #e5e5e5;
	border-radius: 10px;
	padding: 20px;
	box-shadow: inset 0 1px 0 #b2b2b2;
	border-bottom: 1px solid #f6f6f6;
}
.carte-popup1-html .chosen-container-single .chosen-single{
	width: 179px;
 }
.carte-popup1-html .box-select .select-performed{
	display: inline-block;
	width: 175px;
}
.carte-popup1-html .chosen-container .chosen-drop {
	width: 187px;
}
/*.carte-popup1-html .chosen-container-single .chosen-drop{*/
	/*margin-top: 32px;*/
/*}*/
.carte-popup1-html .box-select .inner-box-select{
	display: inline-block;
	width: 187px;
}
.carte-popup1-html .box-select .inner-box-select label{
	margin-bottom: 10px;
	display: block;
	font-size: 16px;
}
.carte-popup1-html .box-select span{
	margin: 0 12px;
}

#modal .error-message {
   padding: 20px 0px 10px 0px;
   color: red;
}
#modal .success-message {
    padding: 20px 0px 10px 0px;
    color: #3CBECC;
}
#modal .modal-bottom-btn {
    width: 350px;
    display: block;
    margin: 0px auto 30px auto;
}