.lock {
	overflow: hidden;
}

.themodal-overlay {
	position: fixed;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	z-index: 9999;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.themodal-overlay > * {
	-webkit-transform: translateZ(0px);
}

.themodal-overlay {
	background: rgba(0, 0, 0, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #7F000000, endColorstr = #7F000000);
	zoom: 1;
}

#modal {
    background-color: transparent;
    width: 630px;
    margin: 100px auto;
}

#modal .modal-title-container {
	position: relative;
	padding: 17px 70px 17px 40px;
	background-color: #4d4d4d;
	border-radius: 10px 10px 0 0;
}

#modal .modal-title-container > .modal-close {
	position: absolute;
	width: 30px;
	height: 30px;
    top: 20px;
    right: 20px;
    background: url('../images/modal-close.png') no-repeat;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
}

#modal .modal-title-container > .modal-close:hover {
	opacity: .7;
}

#modal .modal-title-container > .modal-close:active {
	opacity: .9;
}

#modal .modal-title-container > .modal-title {
	font-family: "Open Sans";
	font-size: 36px;
	line-height: 36px;
	font-weight: 300;
	color: #fff;
	text-shadow: 0px -1px 0px #333;
}

#modal .modal-content-container {
	min-height: 100px;
	background-color: #f2f2f2;
	border-radius: 0 0 10px 10px;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	box-shadow: 0px 3px 0px #ccc;
	padding: 0 40px;
}

/*
	Modal registration
*/

#modal .registration-top, #page-registration .registration-top {
background-color: #E5E5E5;
padding: 30px 40px;
margin: 0 -40px;
}

#page-registration .registration-top {
	background-color: #F7F7F7 !important;
	border-radius: 10px;
}

#modal .registration-top-buttons, #page-registration .registration-top-buttons {
	margin: 20px 0 0 0;
	line-height: 45px;
}

#modal .registration-top-buttons .btn, #page-registration .registration-top-buttons .btn {
	width: 220px;
}

#modal .registration-top-buttons .sep, #page-registration .registration-top-buttons .sep {
	display: inline-block;
	width: 50px;
	text-align: center;
}

#modal .registration-type, #page-registration .registration-type {
	margin: 30px 0;
}

#modal .registration-type .btn, #page-registration .registration-type .btn {
	display: block;
	margin: 20px 0;
}

#modal .registration-type .btn-fb, #page-registration .registration-type .btn-fb {
	background-position: 85px center;
}

#modal .registration-type p > a, #page-registration .registration-type p > a {
	color: #666;
	font-size: 14px;
}

#modal .registration-bottom, #page-registration .registration-bottom, #modal .login-bottom {
	border-top: 2px dotted #d3d3d3;
	padding: 20px 40px;
	margin: 0 -40px;
}

#modal .registration-bottom, #page-registration .registration-bottom, #modal .login-bottom > p {
	margin-bottom: 0;
}

/*
	Login popup
*/

#modal .login-popup {
	
}

#modal .login-popup .btn-fb {
	display: block;
	background-position: 85px center;
	margin-top: 20px;
}

#modal .login-popup .separator {
	display: block;
	font-size: 16px;
	padding: 20px 0;
	text-align: center;
}

#modal .login-popup .login-bottom > a {
	display: block;
}

#modal .login-popup #login-form {
	margin-bottom: 20px;
}

#modal .login-popup #login-button {
	display: block;
	width: 100%;
}
