
.title-row-results{
	background: url(../images/bg-search-results.png) repeat-x;
	height: 155px;
	padding-top: 20px;
}

.txt-annonce{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	margin: 0 0 34px 0;
	text-shadow: 0 -1px 0 #4D4D4D;
}
.title-row-results .white-txt{
	margin: 0;
}
.container-text .icon-sauv{
	background-image: url(../images/icon-sauv.png);
	background-repeat: no-repeat;
	background-position: 0 3px;
	width: 15px;
	height: 17px;
	padding: 0 0 0 15px;
	margin-right: 20px;
}
.container-text .icon-bell-blue{
	background-image: url(../images/icon-bell-blue.png);
	background-repeat: no-repeat;
	background-position: 0 3px;
	width: 15px;
	height: 19px;
	padding: 0 0 0 15px;
	margin-right: 20px;
}
.grid-block h2{
	font-size: 25px;
	margin: 0 0 0 20px;
	float: left;
}
.box-btn-date,
.box-btn-page{
	float: right;
}
.box-btn-date .btn-date,
.grid-block .btn-page{
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	margin: 5px 10px 0 10px;
	width: 190px;
	text-align: left;
}
.box-btn-date > .btn-date{
	background-image: url(../images/icon-down.png);
	background-repeat: no-repeat;
	background-position: 178px 12px;
	padding: 0 0 0 13px;
}
.grid-block .bg-red{
	background: #de4c5d;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.grid-block .bg-red p{
	color: #fff;
}
.grid-block .txt-price{
	/*float: right;*/
	display: block;
	margin-bottom: 5px;
	text-align: right;
}
.grid-block .inner-box-right{
	float: right;
}
.grid-block .i-group-white{
	margin-right: 10px;
}
.grid-block .btn-blue-dark{
	margin-left: 10px;
}
.grid-block .page-number{
	float: left;
	font-size: 16px;
	color: #fff;
	margin-left: 20px;
}

.grid-block .btn-page{
	width: 10px;
	margin: 0;
}
.grid-block .box-btn-page{
	padding: 10px 10px 0 0;
}
.grid-block-search{
	margin-right: 15px;
	width: 244px;
	padding: 0 20px;
}
.grid-block-search .name-txt{
	font-size: 25px;
	margin: 5px 0;
	text-shadow: 0 -1px 0 #34a6b3;
}
.box-btn-choice{
	margin-top: 15px;
}
.btn-choice{
	font-size: 15px;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	text-align: left;
	width: 215px;
}
.box-btn-choice > .btn{
	margin-left: 0;
}
.box-btn-choice > .btn-choice{
	background-image: url(../images/btn-blue-del.png);
	background-repeat: no-repeat;
	background-position: 223px 50%;
}
.grid-block-search .name-txt2{
	font-size: 22px;
	margin: 0;
}
.box-btn-choice input{
	width: 225px;
	margin-bottom: 15px;
}
.title-name{
	margin: 10px 0;
}
.title-name .btn-up,
.title-name .btn-down{
	float: right;
}
.grid-block-search input{
	margin-bottom: 10px;
}
.box-calend-search{
	margin-top: 10px;
}
.box-calend-search .icon-calend{
	background-image: url(../images/icon-calend-gray.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 18px;
	height: 20px;
	padding: 0 0 0 18px;
}
.box-calend-search .btn-small{
	height: 32px;
	line-height: 32px;
	padding: 0 10px;
}
.box-calend-search input{
	width: 171px;
}

.box-btn-page .icon-right{
	background-image: url(../images/icon-right.png);
	background-repeat: no-repeat;
	background-position: 2px 0;
	padding: 0 0 0 18px;
}
.box-btn-page .icon-left{
    background-image: url(../images/icon-left.png);
    background-repeat: no-repeat;
    background-position: 2px 0;
    padding: 0 0 0 18px;
}
.box-btn-page .active-page{
	background: #198e9c;
	box-shadow: 0 3px 0 #087380;
}
.box-btn-page .active-page:hover,
.box-btn-page .active-page:hover{
	box-shadow: 0 1px 0 #087380;
	top: 2px;
}

.box-btn-page .active-page:active,
.box-btn-page .active-page:active{
	box-shadow: none;
	top: 3px;
}

/*--------Page results with carte---------*/

.title-row-carte{
	background: url(../images/big-carte.png)center center no-repeat;
	width: 1280px;
	height: 779px;
	position: relative;
	margin: 0 auto;
	/*padding-top: 20px;*/
}
.title-row-carte .bg-opacity{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.58) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.58)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.58) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.58) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.58) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.58) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#94000000',GradientType=0 );
	position: relative;
	top: 580px;
	padding: 30px 0 20px 0;
}

.location-ad{
	background: #f2f2f2;
	width: 220px;
	border-radius: 10px;
	position: absolute;
	padding: 10px;
	-webkit-box-shadow: 0 1px 17px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0 1px 17px rgba(50, 50, 50, 0.75);
	box-shadow:         0 1px 17px rgba(50, 50, 50, 0.75);
	right: 247px;
	bottom: 364px;
	display: block;
	z-index: 1000;
}
.location-ad:after{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #f2f2f2;
	top: 100%;
	left: 50%;
	margin-left: -17px;
	color: #FFF;
	text-shadow: none;
}
.location-ad img{
	float: left;
	margin: 0 10px 10px 0;
}
.location-ad p{
	margin: 0 0 24px 0;
	text-shadow: 0 1px 0 #fff;
}

.location-ad .meter-price .price-add{
	float: right;
	font-weight: bold;
	font-size: 16px;
	color: #6e6e6e;
	text-shadow: 0 1px 0 #fff;
}
.location-ad .btn-blue{
	width: 189px;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
}

.title-row-carte .btn-location-red{
	background-image: url(../images/btn-carte-location-red.png);
	background-repeat: no-repeat;
	width: 25px;
	height: 35px;
	position: absolute;

}
.title-row-carte .location-active{
	background-image: url(../images/btn-carte-location-blue.png);
	background-repeat: no-repeat;
	width: 24px;
	height: 36px;
	position: absolute;
}
.title-row-carte .location1{
	bottom: 306px;
	right: 352px;
}
.title-row-carte .location2{
	bottom: 333px;
	right: 246px;
}
.title-row-carte .location3{
	bottom: 279px;
	right: 572px;
}
.title-row-carte .location4{
	bottom: 500px;
	right: 650px;
}
.title-row-carte .location5{
	bottom: 450px;
	right: 600px;
}

/*--------Page results with line metro---------*/

.title-row-metro{
	background: rgb(242, 242, 242);
	background: -moz-linear-gradient(90deg, rgb(242, 242, 242) 30%, rgb(122, 122, 122) 100%);
	background: -webkit-linear-gradient(90deg, rgb(242, 242, 242) 30%, rgb(122, 122, 122) 100%);
	background: -o-linear-gradient(90deg, rgb(242, 242, 242) 30%, rgb(122, 122, 122) 100%);
	background: -ms-linear-gradient(90deg, rgb(242, 242, 242) 30%, rgb(122, 122, 122) 100%);
	background: linear-gradient(180deg, rgb(242, 242, 242) 30%, rgb(122, 122, 122) 100%);
	padding-bottom: 15px;
}
.title-row-metro .line-name{
	margin: 0 auto;
	padding-left: 100px;
	width: 1100px;
	padding-top: 10px;
}

.title-row-metro .line-name p{
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	display: inline-block;
	text-shadow: 0 1px 0 #fff;
}
.title-row-metro .line-name span{
	font-size: 14px;
	font-weight: normal;
	margin-left: 10px;
}
.title-row-metro .yellow-line-metro{
	margin: 0 auto;
	width: 1280px;
	margin-top: 26px;
}
.title-row-metro .yellow-line-metro .line-number{
	text-align: center;
	padding: 10px 0 0 17px;
}
.title-row-metro .yellow-line-metro .main-name{
	text-align: center;
	padding: 0 0 10px 17px;
}
.title-row-metro .yellow-line-metro .main-name p{
	margin: 0;
	font-weight: bold;
	font-size: 16px;
	text-shadow: 0 1px 0 #fff;
}
.title-row-metro .yellow-line-metro .name-line{
	position: relative;
}
.title-row-metro .yellow-line-metro .name-line span{
	position: absolute;
	font-size: 16px;
	text-shadow: 0 1px 0 #fff;
	width: 190px;
	text-align: center;
}
.title-row-metro .yellow-line-metro .name-line .line1{
	top: -14px;
	left: 179px;
}
.title-row-metro .yellow-line-metro .name-line .line2{
	top: -14px;
	left: 370px;
}
.title-row-metro .yellow-line-metro .name-line .line3{
	top: -14px;
	right: 353px;
}
.title-row-metro .yellow-line-metro .name-line .line4{
	top: -14px;
	right: 161px;
}

.title-row-results.results-metro{
    background: url(../images/bg-search-metro-header.png) repeat-x;
    height: 332px;
    padding-top: 10px;
}

.container-line-metro{
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 170px;
}

.line-title {
    margin-left: 142px;
}
.line-number {
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 6px;
}
.line-name {
    float: left;
    font-size: 15px;
    font-weight: normal;
    margin-left: 10px;
    margin-top: 7px;
}
.line-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    text-align: center;
    cursor: pointer;
}
.line-circle.rer {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    background-color: #ffffff;
    text-align: center;
    border: solid 2px;
}
.line-circle div.number {
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
    float: left;
}
.line-circle.rer div.number {
    line-height: 28px !important;
}
.line-circle div.number.align1 {
    width: 100%;
    text-align: center;
}
.line-circle div.number.align2 {
    margin-left: 3px;
}
.line-circle div.line-str {
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    line-height: 32px;
    float: left;
}

.line-wrapper {
    width: 100%;
    padding-top: 70px;
    position: relative;
}

.line-wrapper div.line-line {
    width: 100%;
    height: 16px;
}

.line-wrapper .station {
    position: absolute;
    left: 50%;
    width: 176px;
}
.line-wrapper .station.main {
    top: 17px;
    margin-left: -88px;
}
.line-wrapper .station.left2 {
    top: 30px;
    margin-left: -264px;
}
.line-wrapper .station.left1 {
    top: 30px;
    margin-left: -440px;
}
.line-wrapper .station.right2 {
    top: 30px;
    margin-left: 88px;
}
.line-wrapper .station.right1 {
    top: 30px;
    margin-left: 264px;
}

.line-wrapper .station.main .station-name {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    text-align: center;
    height: 34px;
    overflow: hidden;
}
.line-wrapper .station .station-name {
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    width: 100%;
    text-align: center;
    height: 28px;
    overflow: hidden;
}

.line-wrapper .station .station-circle{
    width: 40px;
    height: 40px;
    margin-left: 61px;
    border-radius: 50%;

    cursor: pointer;
}
.line-wrapper .station.main .station-circle{
    width: 54px;
    height: 54px;
    margin-left: 61px;
    border-radius: 50%;
    overflow: hidden;

    cursor: default;
}
.line-wrapper .station.main .station-circle .inner{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-top: 14px;
    text-align: center;
    background-color: #ffffff;
}
.line-wrapper .other-lines {
    position: absolute;
    left: 50%;
    top: 115px;
}
.line-wrapper .other-lines .line-circle {
    margin-right: 10px;
}