.title-row-search{
	height: 76px;
}
.bg-stand{
	background: url(../images/bg-search-stand.png) repeat-x;
}
.title-row-search .container-text{
	padding: 15px 0;
}
.title-row-search .white-txt{
	font-size: 45px;
	margin: 0;
}
.menu-search{
	background: #f2f2f2;
	list-style: none;
	overflow: hidden;
	padding-top: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}
.menu-search ul{
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.menu-search li{
	float: left;
	margin-left: 15px;
	list-style: none;
}
.menu-search li a{
	text-decoration: none;
	background: #999999;
	color: #fff;
	font-size: 14px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	padding: 10px 20px;
	width: 115px;
	display: block;
	float: left;
}
.menu-search a.active{
	background: #4d4d4d;
	color: #fff;
}
.menu-search a.menu-icons{
	background-repeat: no-repeat;
	background-position: 104px 6px;
	width: 120px;
	height: 32px;
	display: block;
}
.menu-search  a.icon-search{
	background-image: url(../images/icon-Loupe-gris.png);
}
.menu-search  a.icon-metro{
	background-image: url(../images/icon-metro.png);
}
.menu-search  a.icon-dessin{
	background-image: url(../images/icon-dessin.png);
}
.menu-search  a.icon-carte{
	background-image: url(../images/icon-carte.png);
	margin: 0;
}
.search-box{
	padding: 20px 57px 36px;
	overflow: hidden;
}
.search-box .search-left{
	float: left;
	width: 500px;
}
.search-box .search-right{
	float: left;
	width: 382px;
}
.search-box .search-location{
	margin-bottom: 20px;
}
.name-title-white,
.name-title-black{
	display: block;
	margin-bottom: 10px;
	font-size: 16px;
}
.name-title-black{
	color: #4d4d4d;
}
.search-box .search-location input{
	float: left;
	display: block;
	width: 365px;
	background-image: url(../images/icon-gps.png);
	background-repeat: no-repeat;
	background-position: 363px 7px;
}
.search-box .search-location > a.icon-location{
	background-image: url(../images/location.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.search-box .search-budget{
	margin-bottom: 20px;
}
.search-box .search-budget input,
.search-box .search-surface input{
	width: 166px;
	margin-right: 10px;
}

.search-box .search-right > .btn{
	background-image: url(../images/btn-blue-search.png);
	background-repeat: no-repeat;
	background-position: 40px 50%;
	width: 347px;
}

.box-universal{
	margin-bottom: 24px;
}

.title-advanced{
	margin: 15px 57px;
}
.title-advanced h2{
	margin: 0;
}
.box-search-advanced{
	background: #f5f5f5;
	padding: 35px 57px;
}



.box-btn-search{
	padding: 15px 57px;
	overflow: hidden;
}
.box-btn-search > .btn-blue{
	background-image: url(../images/btn-blue-search.png);
	background-repeat: no-repeat;
	background-position: 40px 50%;
	width: 257px;
	float: right;
}
.box-btn-search > .btn-red{
	background-image: url(../images/icon-sauv.png);
	background-repeat: no-repeat;
	background-position: 24px 50%;
	width: 330px;
	float: left;
}


/*--------Page-Search-Metro-------*/
.bg-metro{
	background: url(../images/bg-search-metro.png) repeat-x;
}
.title-advanced p{
	color: #fff;
}
.box-btn-search{
	text-align: center;
}
.box-btn-search .link-carte{

	color: #fff;
}
.txt-line-metro{
	margin: 15px 0;
}

/*--------Page-Search-Dessin-------*/
.bg-dessin{
	background: url(../images/bg-search-dessin.png) repeat-x;
}
.box-carte{
	position: relative;
	width: 1000px;
	height: 651px;
}
.box-carte .btn-carte-nav{
	position: absolute;
	background: #f5f5f5;
	border-radius: 10px;
	width: 242px;
	top: 20px;
	right: 20px;
	padding: 15px;
}
.box-carte .btn-carte-nav > .btn{
	width: 212px;
	margin-left: 0;
	margin-bottom: 10px;
}
.box-carte .btn-carte-nav > .btn-blue{
	background-image: url(../images/btn-blue-search.png);
	background-repeat: no-repeat;
	background-position: 31px 50%;
}
.box-btn-search > .btn-gray{
	background-image: url(../images/icon-remove.png);
	background-repeat: no-repeat;
	background-position: 24px 50%;
	float: left;
	width: 224px;
}
.box-btn-search > .btn-sauv{
	width: 200px;
}
.box-carte .btn-plus-minus{
	position: absolute;
	top: 20px;
	left: 20px;
	width: 48px;
	background: transparent;
}
.box-carte .btn-plus-minus > .btn-gray-lite{
	height: 37px;
	line-height: 37px;
	width: 11px;
	margin-left: 0;
	margin-bottom: 10px;
}
.box-carte .btn-plus-minus > .btn-plus{
	background-image: url(../images/icon-plus.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.box-carte .btn-plus-minus > .btn-minus{
	background-image: url(../images/icon-minus.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.box-place{
	float: left;
	width: 150px;
	margin: 0 46px 20px 0;
}
.box-place label{
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
}
.box-place > .btn-gray{
	background-repeat: no-repeat;
	background-position: center center;
	width: 151px;
	height: 151px;
	padding: 0;
}
.box-place > .btn-carte1{
	background-image: url(../images/btn-carte-mini.png);
}
.box-place > .btn-carte2{
	background-image: url(../images/btn-carte-02.png);
}
.box-place > .btn-carte3{
	background-image: url(../images/btn-carte-03.png);
}
.box-place > .btn-carte4{
	background-image: url(../images/btn-carte-04.png);
}
.box-place > .btn-carte5{
	background-image: url(../images/btn-carte-05.png);
}
.box-place > .btn-carte6{
	background-image: url(../images/btn-carte-06.png);
}
.box-place > .btn-carte7{
	background-image: url(../images/btn-carte-07.png);
}
.box-place > .btn-carte8{
	background-image: url(../images/btn-carte-08.png);
}


/*--------Page-Search-Carte-------*/

.bg-carte{
	background: url(../images/bg-search-carte.png) repeat-x;
}
.carte-black{
	height: 622px;
}
.box-carte .box-btn-return{
	position: absolute;
	top: 20px;
	left: 20px;
}
.box-carte .box-btn-return > .btn-gray-lite{
	background-image: url(../images/icon-retourn.png);
	background-repeat: no-repeat;
	background-position: 40px 50%;
}