/*
	Realestate - ommi
	Sergey Loysha
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url('normalize.css');
@import url('typo.css');
@import url('helpers.css');
@import url('buttons.css');
@import url('blocks.css');
@import url('inputs.css');
@import url('colors.css');
@import url('anonce.css');
@import url('search.css');
@import url('modal.css');
@import url('footer.css');


body {
	background: #e7e7e7 url('../images/background.png') repeat;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #4d4d4d;
}

.inner:before, .inner:after {
	content: '';
	display: table;
}

.inner {
	width: 1000px;
	margin: 0 auto;
}

.inner:after {
	clear: both;
}

header {
	height: 40px;
	line-height: 40px;
	background-color: #f5f5f5;
	box-shadow: 0px 1px 1px #e5e5e5;
}

header > .inner {
	width: 1256px;
}

header .logo {
	display: block;
	float: left;
	position: relative;
	top: 6px;
	background: url('../images/logo.png') no-repeat;
	width: 116px;
	height: 27px;
	text-indent: -9999px;
}

header .home-logo {
	display: block;
	float: left;
	position: relative;
	top: -10px;
	background: url('../images/home-logo.png') no-repeat;
	width: 118px;
	height: 89px;
	text-indent: -9999px;
	-webkit-transition: top .2s;
	-moz-transition: top .2s;
	-ms-transition: top .2s;
	-o-transition: top .2s;
	transition: top .2s;
	z-index: 1000;
}

header .home-logo:hover {
	top: -5px;
}

#header-nav {
	width: 1138px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}

#header-nav > li {
	position: relative;
	float: right;
	margin-left: 30px;
}

#header-nav > li > a {
	display: block;
	padding: 0 10px;
	font-size: 14px;
	text-shadow: 0px 1px 0px #fff;
	color: #4b4b4b;
	text-decoration: none;
}

#header-nav > li > a:hover {
	color: #34a6b3;
}

#header-nav > li.dropdown.open > a {
	color: #34a6b3;
}



#header-nav > li.dropdown > a > i.caret {
	display: inline-block;
	margin-left: 10px;
	width: 10px;
	height: 7px;
	background: url('../images/caret.png') no-repeat;
	background-position: 0 0;
}

#header-nav > li.dropdown > a:hover > i.caret {
	background-position: -10px 0;
}

#header-nav > li.dropdown.open i.caret {
	background-position: -10px 0;
}


#header-nav > li > ul.dropdown-menu {
	position: absolute;
	top: 45px;
	right: 0;
	display: none;
	z-index: 1000;
	list-style: none;
	margin: 0;
	padding: 10px 0;
	background: #f2f2f2;
	border-radius: 5px;
	box-shadow: 0px 2px 10px rgba(0,0,0,.5);
}

#header-nav > li > ul.dropdown-menu > li {
	display: block;
}

#header-nav > li > ul.dropdown-menu > li > a {
	display: block;
	width: 175px;
	height: 24px;
	border-top: 1px solid #f2f2f2;
	line-height: 25px;
	padding: 0 10px;
	font-size: 14px;
	text-shadow: 0px 1px 0px #fff;
	color: #4b4b4b;
	text-decoration: none;
}

#header-nav > li > ul.dropdown-menu > li > a:hover {
	border-top: 1px solid #43939d;
	background: #34a6b3;
	color: #fff;
	text-shadow: none;
}

#header-nav > li.dropdown.open > ul.dropdown-menu {
	display: block;
}

header .btn {
	margin-top: 3px;
	height: 30px;
	line-height: 30px;
	font-size: 16px !important;
}

#promo-video {
	padding: 0 30px 0 45px;
	background-image: url('../images/play.png');
	background-repeat: no-repeat;
	background-position: 15px center;
	position: absolute;
	top: 270px;
}

.promo-page {
	position: relative;
	background: url('../images/main.jpg') center no-repeat;
	height: 650px;
}

.promo-page .promo {
	display: block;
	position: relative;
	float: right;
	top: 60px;
	right: 150px;
}

.promo-page .promo .logo {
	width: 283px;
	height: 63px;
	background: url('../images/promo-logo.png') no-repeat;
}

.promo-page .promo .text {
	margin-top: 15px;
	font-family: "Open Sans";
	font-size: 90px;
	line-height: 80px;
	font-weight: 300;
	color: #fff;
}

.promo-page .block {
	position: relative;
	top: 330px;
}

#promo-search {
	position: absolute;
	bottom: 40px;
}

#promo-search > .promo-search-left, #promo-search > .promo-search-right {
	width: 400px;
	float: left;
}

#promo-search > .promo-search-left {
	padding: 0 40px 0 60px;
}

#promo-search > .promo-search-right {
	padding: 0 60px 0 40px;
}

#promo-search h2 {
	padding: 20px 0;
	margin: 0;
	font-size: 32px;
	font-family: "Open Sans";
	font-weight: 300;
}

#promo-search form {

}

#promo-search fieldset {
	border: none;
	padding: 0;
	margin: 0 0 20px 0;
}

#promo-search fieldset label {
	display: block;
	font-size: 16px;
	color: #fff;
	margin-bottom: 5px;
}

#promo-search .promo-search-location > input {
	display: block;
	width: 340px;
	float: left;
}

#promo-search .promo-search-location > a.btn {
	display: block;
	float: left;
}

#promo-search .promo-search-location > a.icon-location {
	background-image: url('../images/location.png');
	background-position: center;
	background-repeat: no-repeat;
}

#promo-search .promo-search-budget-surface > div {
	display: block;
	float: left;
}

#promo-search .promo-search-budget-surface > div + div {
	margin-left: 20px;
}

#promo-search .promo-search-budget-surface input {
	width: 170px;
}

#promo-search .promo-search-buttons {
	padding: 50px 0 20px 0;
}

#promo-search .promo-search-buttons > .btn {
	display: block;
	width: 312px;
	background-image: url('../images/btn-blue-search.png');
	background-repeat: no-repeat;
	background-position: 40px center;
}

#promo-search .promo-search-buttons > .separator {
	width: 342px;
	display: block;
	font-size: 16px;
	padding: 20px 0;
	text-align: center;
}

#promo-search .promo-search-buttons .promo-search-buttons-group .btn {
	background-repeat: no-repeat;
	padding: 30px 20px 0 20px;
	background-position: center 6px;
	font-size: 16px;
	line-height: 55px;
	float: left;
}

.publish-block {
	margin-top: 20px;
	width: 100%;
	height: 97px;
	border-top: 3px solid #d6d6d6;
	background: #f2f2f2 url('../images/publish.png') center center no-repeat;
}

.social-links-block {
	width: 100%;
	height: 97px;
	border-top: 3px solid #fff;
}

.social-links-block span {
	font-family: "Open Sans";
	font-size: 32px;
	font-weight: 300;
	line-height: 100px;
	color: #b3b3b3;
	text-shadow: 0px 1px 0px #fff;
}

.social-links-block .social-links {
	margin-top: 24px;
	float: right;
}

.social-links-block .social-links > .social-link {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	background: url('../images/social-links-sprite.png') no-repeat;
	background-position: 0 0;
	margin-left: 50px;
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	-ms-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s;
}

.social-links-block .social-links > .social-link:hover {
	opacity: .8;
}

.social-links-block .social-links > .social-link:active {
	opacity: 1;
}

.social-links-block .social-links > .social-link:first-child {
	margin-left: 0;
}

.social-links-block .social-links > .social-link.sl-tw {
	background-position: 0 0;
}

.social-links-block .social-links > .social-link.sl-fb {
	background-position: -50px 0;
}


.social-links-block .social-links > .social-link.sl-ig {
	background-position: -100px 0;
}


.social-links-block .social-links > .social-link.sl-gp {
	background-position: -150px 0;
}


.social-links-block .social-links > .social-link.sl-in {
	background-position: -200px 0;
}

/*
	Index-page (home)
*/

.index-row-six {
	
}

.index-row-six-text {
	float: left;
	width: 50%;
}

.index-row-six-link {
	position: absolute;
	width: 50%;
	text-align: right;
	bottom: 0;
	right: 0;
}

#add-criteria {
	background-image: url('../images/btn-dark-plus.png');
	background-position: 151px center;
	background-repeat: no-repeat;
	padding: 0 45px 0 30px;
}

/*
	Homepage row-1
*/

.how-it-works {
	position: relative;
	width: 450px;
	height: 255px;
	float: left;
	padding: 0 0 0 60px;
	margin-bottom: 30px;
}

.how-it-works > div {
	width: 450px;
	position: absolute;
	bottom: 0;
}

.how-it-works .left, .how-it-works .right {
	width: 50%;
}

.how-it-works .left > a {
	display: block;
}

.how-it-works .right > .btn {
	width: 180px;
	float: right;
}

.video-play-block {
	float: right;
	width: 431px;
	height: 285px;
	background: url('../images/video-play.png') no-repeat;
}

.video-play-block {
	font-size: 50px;
	font-weight: 300;
	font-family: "Open Sans";
	text-align: center;
}

.video-play-block > span {
	display: block;
	padding: 60px 0 20px 0;
}

.video-play-block > .play-video {
	display: block;
	width: 40px;
	height: 47px;
	background: url('../images/play-large.png') no-repeat;
	margin: 0 auto;
}

/*
	Home page row-3
*/

.advantages-blocks {
	margin: 80px 0 30px 0;
}

.advantages-blocks > div {
	position: relative;
	width: 178px;
	float: left;
	padding: 0 20px;
	border-left: 2px dotted #e3e3e3;
	height: 260px;
}

.advantages-blocks > div:first-child {
	border-left: none;
}

.advantages-blocks > div > strong {
	display: block;
	margin-top: 30px;
	font-size: 16px;
	color: #666;
}

.advantages-blocks > div > a {
	position: absolute;
	bottom: 0;
}

.advantages-blocks > div > div[class^='advantage-'] {
	position: absolute;
	top: -60px;
	left: 80px;
    width: 61px;
    height: 63px;
    background: url('../images/advantages.png') no-repeat;
    background-position: 0 0;
}

.advantages-blocks > div > .advantage-1 {
	background-position: 0 0 !important;
}

.advantages-blocks > div > .advantage-2 {
	background-position: -61px 0 !important;
}

.advantages-blocks > div > .advantage-3 {
	background-position: -122px 0 !important;
}

.advantages-blocks > div > .advantage-4 {
	background-position: -183px 0 !important;
}

#login-page {
	position: relative;
}

#login-page #login-form {
	
}

#login-page .btn-fb {
	position: absolute;
	right: 0;
	top: 24px;
	width: 350px;
}

#login-page .separator {
	position: absolute;
	right: 430px;
	top: 33px;
}

#login-page .login-bottom {
	margin-top: 20px;
}

#login-page .login-bottom a {
	float: left;
	margin-right: 20px;
}

#login-page .login-bottom > p {
	margin: 0;
}

#page-registration {
	width: 550px;
	margin: 0 auto;
}