h1,h2 {
	font-size: 38px;
	line-height: 42px;
	font-family: "Open Sans";
	font-weight: 300;
}

p {
	color: #666666;
}

a, a:link {
	font-size: 16px;
	color: #3cbecc;
	text-decoration: underline;
}

a:hover, a:active {
	text-decoration: none;
}

/*a:visited {
	color: #85577d;
}*/

dl {
	margin: 0;
}

dl dt {
	margin: 5px 0;
}

dl dt label {
	font-size: 16px;
}

dl dd {
	margin: 0 0 10px 0;
}

dl dd input[type=text], dl dd input[type=password] {
	display: block;
	width: 440px;
}